<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <ul class="nav footer">
        <li class="nav-item" id="footer-first">
            <a href="{{ config.project_url }}"><i class="fa fa-github"></i> Repo</a>
        </li>
        <li class="nav-item" id="footer-second">
            <a href="{{ config.github_url }}"><i class="fa fa-github"></i> Profile</a>
        </li>
        <li class="nav-item" id="footer-third">
            <a href="{{ config.social_url }}"><i class="fa fa-user-circle-o"></i> Social</a>
        </li>
    </ul>
</nav>