<nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-expand-md navbar-expand-lg">
    <a class="navbar-brand" href="./index.html">
        <span id="brand">
            {{brand}}
        </span>
    </a>
    <ul class="navbar-nav justify-content-end navbar-collapse">
        <li class="nav-item"><a class="nav-link" href="./past.html">My Past</a></li>
        <li class="nav-item"><a class="nav-link" href="./present.html">My Present</a></li>
        <li class="nav-item"><a class="nav-link" href="./future.html">My Future</a></li>
    </ul>
</nav>