<div class="row"> 
    <div class="col-sm content-table">
        <table class="table table-dark table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Weather</th>
                    <th>Zipcode</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                    {% include '_search_row.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>