
<div class="row content-table"> 
    <div class="col-sm">
        <table class="table table-dark table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Weather</th>
                    <th>Zipcode</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="btn btn-primary" href="https://github.com">Weather</a></td>
                    <td>{{locations[0].zipcode}}</td>
                    <td>{{locations[0].city}}</td>
                    <td>{{locations[0].state}}</td>
                    <td>{{locations[0].latitude}}</td>
                    <td>{{locations[0].longitude}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>